.the-viewport {
    --size: 300px;
    --block-size: 280px;

    background-color: var(--brownish);
    display: flex;
    flex-flow: column nowrap;
    height: var(--size);
    margin: auto;
    overflow: scroll;
    width: var(--size);

    & .the-row {
        counter-increment: row 1;

        display: flex;
        flex-flow: row nowrap;
        height: var(--block-size);
        width: calc(3 * var(--block-size));
    }

    & .the-block {
        counter-increment: column 1;

        border: 1px solid var(--vine);
        min-height: var(--block-size);
        min-width: var(--block-size);
        scroll-snap-align: start;
        text-align: left;

        &::after {
            content: counter(row) ':' counter(column);
        }
    }
}

.the-viewport.with-snap {
    scroll-snap-stop: always;
    scroll-snap-type: both mandatory;
    scrollbar-width: thin;
}
