.container .content {
    & .the-list {
        background-color: black;
        display: flex;
        flex-flow: column;
        min-height: 7rem;
        overflow: hidden;
        padding: 0.4rem;
        position: relative;

        counter-reset: index -1;
    }

    & .list-pointers {
        height: 2rem;
        position: relative;
    }

    & .pointer {
        position: absolute;
        height: 2rem;
        left: 0;
        line-height: 2rem;
        top: 0;
        transition-duration: 500ms;
        transition-property: left;
        width: 2rem;
    }

    & .pointer.hare::after {
        content: '🐇';
    }

    & .pointer.tortoise::after {
        content: '🐢';
    }

    & .list-items {
        align-items: center;
        display: flex;
        flex-flow: row;
        justify-content: center;
        height: 3rem;
    }

    & .list-item {
        counter-increment: index 1;

        animation: fade-in 300ms 1 forwards;
        background-color: var(--dark);
        border-radius: 1rem;
        flex-flow: row;
        height: 2rem;
        line-height: 2rem;
        opacity: 0;
        text-align: center;
        transform: translateY(-100px);
        transition-duration: 400ms;
        transition-property: background-color;
        width: 2rem;

        &::after {
            content: counter(index);
        }

        &:not(:last-child) {
            margin-right: 0.6rem;
        }

        &.is-cycle {
            background-color: var(--vine);
        }
    }

    & .list-loop-arrow {
        border: 5px dotted var(--vine);
        border-style: none dotted dotted;
        bottom: 1rem;
        min-height: 1rem;
        position: absolute;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
