.iframe {
    bottom: 0;
    height: 250px;
    max-width: 400px;
    position: fixed;
    width: 100vw;

    .console {
        height: 100px;
    }
}

.console {
    background-color: #000;
    height: 200px;
    text-align: left;

    .time {
        color: goldenrod;
    }

    .username {
        color: var(--vine);
        font-style: italic;
    }

    .username.myself {
        color: var(--bright);
        font-weight: bold;
    }
}

.console_input {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 1rem;

    input {
        flex: 1 1 auto;
        margin-right: 2rem;
        min-width: 0;
    }

    button {
        flex: 0 0 90px;
    }
}
