// font-style<style>
*,
*::after,
*::before,
*:visited,
*:hover,
*:active,
*:focus {
    // This is loaded via plugin '@nuxtjs/google-fonts'
    font-family: 'Roboto', monospace !important;
}

.font {
    font-family: 'Roboto', monospace !important;
}

.font.biggest {
    @include mobile_and_tablet {
        font-size: 18px;
    }

    @include desktop {
        font-size: 22px;
    }

    @include high_res {
        font-size: 26px;
    }

    font-weight: 700;
}

.font.big {
    @include mobile_and_tablet {
        font-size: 16px;
    }

    @include desktop {
        font-size: 20px;
    }

    @include high_res {
        font-size: 24px;
    }

    font-weight: 700;
}

.font.normal {
    @include mobile_and_tablet {
        font-size: 12px;
    }

    @include desktop {
        font-size: 16px;
    }

    @include high_res {
        font-size: 20px;
    }

    font-weight: 300;
}

.font.small {
    @include mobile_and_tablet {
        font-size: 8px;
    }

    @include desktop {
        font-size: 12px;
    }

    @include high_res {
        font-size: 16px;
    }

    font-weight: 100;
}

.font.darkest {
    color: $darkest;
}

.font.dark {
    color: $dark;
}

.font.normal {
    color: $normal;
}

.font.light {
    color: $light;
}

.font.lightest {
    color: $lightest;
}
