<link
    rel="stylesheet"
    href="./src/components/the-post/index.css"
/>

<div
    class="the-post"
    style="opacity: 0"
    aria-label="the post"
>
    <img
        class="the-delete"
        aria-label="delete post button"
        src="/assets/icons/delete.svg"
    />
    <div
        class="the-title"
        aria-label="post title"
    ></div>
    <div
        class="the-description"
        aria-label="post description"
    ></div>
    <img
        class="the-image"
        aria-label="post image"
    />
</div>
