.content {
    @include mobile_nad_tablet {
        margin: 0;
        width: 100%;
    }

    @include desktop {
        margin: auto;
        width: 516px;
    }

    @include high_res {
        margin: auto;
        width: 916px;
    }
}
