.link {
    @include font-darker;

    color: var(--var-dark-vine);
    cursor: pointer;
    text-decoration: none;
}

@supports selector(:focus-visible) {
    .link,
    .link:active,
    .link:focus,
    .link:visited {
        outline-style: none;
    }

    .link:focus-visible {
        outline: 2px solid darkblue;
    }
}
