@import './utils/queuries.scss';
@import './utils/theme.scss';

@import './utils/reset.scss';
@import './utils/color.scss';

@import './utils/font.scss';

@import './components/the-title.scss';
@import './components/the-menu.scss';
@import './components/the-theme-switch.scss';

:root {
    --var-content-width: 100%;
}

@include mobile_and_tablet {
    :root {
        --var-content-width: 100%;
    }
}

@include desktop {
    :root {
        --var-content-width: 500px;
    }
}

@include high_res {
    :root {
        --var-content-width: 800px;
    }
}

// This is a root element of NUXT mount point
@include dark-mode {
    body,
    #the-main-content {
        background-color: $darkest;
    }
}

@include light-mode {
    body,
    #the-main-content {
        background-color: $lightest;
    }
}
