@import './utils/queuries.scss';
@import './utils/theme.scss';

@import './utils/reset.scss';
@import './utils/color.scss';

@import './utils/font.scss';

@import './components/the-title.scss';
@import './components/the-menu.scss';
@import './components/the-theme-switch.scss';
@import './components/the-page-main-content.scss';

:root {
    --var-content-width: 100%;
}

@include mobile_and_tablet {
    :root {
        --var-content-width: 100vw;
    }
}

@include desktop {
    :root {
        --var-content-width: max(500px, 800px);
    }
}

@include high_res {
    :root {
        --var-content-width: 1000px;
    }
}

// This is a root element of NUXT mount point
#the-main-content {
    overflow: visible;
}

@include dark-mode {
    body,
    #the-main-content {
        background-color: $darkest;
    }
}

@include light-mode {
    body,
    #the-main-content {
        background-color: $lightest;
    }
}
