.the-page-section {
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.the-page-section_content-box {
    width: var(--var-content-width);
}

@include light-mode {
    .the-page-section_content-box {
        color: $dark;
    }
}

@include dark-mode {
    .the-page-section_content-box {
        color: $lightest;
    }
}
