.the-article {
    border-style: none;
    display: block;
    text-decoration: none;
    transition-duration: 400ms;
    transition-property: background-color;
}

@include mobile_and_tablet {
    .the-article {
        border-radius: 0;
        margin-bottom: 12px;
        padding: 12px;
    }

    .the-article_title,
    .the-article_description {
        margin-bottom: 8px;
    }
}

@include desktop {
    .the-article {
        border-radius: calc(min(100vw, 900px) * 0.01);
        margin-bottom: 16px;
        padding: 16px;
    }

    .the-article_title,
    .the-article_description {
        margin-bottom: 18px;
    }
}

@include high_res {
    .the-article {
        border-radius: 20px;
        margin-bottom: 21px;
        padding: 21px;
    }

    .the-article_title,
    .the-article_description {
        margin-bottom: 26px;
    }
}

@include light-mode {
    .the-article,
    .the-article * {
        color: $darkest;
    }

    .the-article:hover {
        background-color: $dark;
    }
    .the-article:hover * {
        color: $lightest;
    }
}

@include dark-mode {
    .the-article,
    .the-article * {
        color: $lightest;
    }

    .the-article:hover {
        background-color: $light;
    }

    .the-article:hover * {
        color: $lightest;
    }
}
