.the-article-code pre,
.the-article-code code {
    font-size: inherit;
}

@include mobile_and_tablet {
    .the-article-code {
        padding: 8px;
    }
}

@include desktop {
    .the-article-code {
        padding: 16px 8px;
    }
}

@include high_res {
    .the-article-code {
        padding: 32px 16px;
    }
}

@include light-mode {
    .the-article-code {
        background-color: $darkest;
    }

    .the-article-code code {
        color: $lightest;
    }
}

@include dark-mode {
    .the-article-code {
        background-color: $lightest;
    }

    .the-article-code code {
        color: $darkest;
    }
}
