.the-menu {
    position: sticky;
    top: 0px;

    @include mobile_and_tablet {
        padding: 0px;
    }

    @include desktop {
        padding: 0px 12px 0px;
    }

    @include high_res {
        padding: 0xp 16px 0px;
    }
}

.the-menu_sections {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: var(--var-content-width);
}

.the-menu_sections-item_fake-item {
    flex: 1;
}

.the-menu_sections-item_fake-item,
.the-menu_sections-item {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    transform: translateY(1px);

    @include mobile_and_tablet {
        padding: 4px 6px;
    }

    @include desktop {
        padding: 6px 8px;
    }

    @include high_res {
        padding: 6px 10px;
    }
}

@include light-mode {
    .the-menu {
        background-color: $lightest;
    }

    .the-menu_sections-item_fake-item,
    .the-menu_sections-item {
        border-bottom-color: $light;
        border-left-color: $lightest;
        border-right-color: $lightest;
        border-top-color: $lightest;
        color: $light;
    }

    .the-menu_sections-item.router-link-active {
        border-bottom-color: $lightest;
        border-left-color: $light;
        border-right-color: $light;
        border-top-color: $light;
        color: $dark;
    }
}

@include dark-mode {
    .the-menu {
        background-color: $darkest;
    }

    .the-menu_sections-item_fake-item,
    .the-menu_sections-item {
        border-bottom-color: $dark;
        border-left-color: $darkest;
        border-right-color: $darkest;
        border-top-color: $darkest;
        color: $dark;
    }

    .the-menu_sections-item.router-link-active {
        border-bottom-color: $darkest;
        border-left-color: $dark;
        border-right-color: $dark;
        border-top-color: $dark;
        color: $light;
    }
}
