.the-theme-switch {
    cursor: pointer;
    position: relative;
    max-height: 20px;
    max-width: 80px;
    min-height: 20px;
    min-width: 80px;
    user-select: none;
}

.the-theme-switch_toggle {
    display: block;
    height: 16px;
    left: 8px;
    position: absolute;
    top: 2px;
    transition-duration: 1s;
    transition-property: left, background-color;
    width: 16px;
    will-change: left, background-color;
}

@include dark-mode {
    .the-theme-switch_toggle {
        background-color: $lightest;
        left: -10px;
    }
}

@include light-mode {
    .the-theme-switch_toggle {
        background-color: $darkest;
        left: 70px;
    }
}
