.the-menu {
    border: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: sticky;
    top: 0;

    @include mobile_and_tablet {
        padding: 0;
        padding-top: 14px;
    }

    @include desktop {
        padding: 0 12px 0;
    }

    @include high_res {
        padding: 0 16px 0;
    }
}

.the-menu_sections {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: var(--var-content-width);
}

.the-menu_sections-item_fake-item {
    border: none;
    flex: 1;
}

.the-menu_sections-item {
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: inline-block;
    text-decoration: none;

    @include mobile_and_tablet {
        padding: 4px 6px;
    }

    @include desktop {
        padding: 6px 8px;
    }

    @include high_res {
        padding: 6px 10px;
    }
}

@include light-mode {
    .the-menu {
        background-color: $lightest;
    }

    .the-menu_sections-item {
        border-bottom-color: $normal;
        color: $light;
    }

    .the-menu_sections-item.router-link-active {
        border-bottom-color: $darkest;
        color: $dark;
    }
}

@include dark-mode {
    .the-menu {
        background-color: $darkest;
    }

    .the-menu_sections-item {
        border-bottom-color: $normal;
        color: $dark;
    }

    .the-menu_sections-item.router-link-active {
        border-bottom-color: $lightest;
        color: $light;
    }
}
