.the-theme-switch {
    --var-switch-size: 80px;
    --var-switch-knob-size: 20px;

    align-content: center;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    max-height: var(--var-switch-knob-size);
    max-width: var(--var-switch-size);
    min-height: var(--var-switch-knob-size);
    min-width: var(--var-switch-size);
    user-select: none;
}

.the-theme-switch_toggle {
    display: block;
    height: var(--var-switch-knob-size);
    position: absolute;
    top: 0;
    transition-duration: 1s;
    transition-property: left, background-color;
    width: var(--var-switch-knob-size);
    will-change: left, background-color;
}

@include dark-mode {
    .the-theme-switch_toggle {
        background-color: $lightest;
        left: 0;
    }
}

@include light-mode {
    .the-theme-switch_toggle {
        background-color: $darkest;
        left: calc(var(--var-switch-size) - var(--var-switch-knob-size));
    }
}

@include mobile_and_tablet {
    .the-theme-switch {
        --var-switch-size: 80px;
        --var-switch-knob-size: 16px;
    }
}

@include desktop {
    .the-theme-switch {
        --var-switch-size: 100px;
        --var-switch-knob-size: 20px;
    }
}

@include high_res {
    .the-theme-switch {
        --var-switch-size: 110px;
        --var-switch-knob-size: 20px;
    }
}
