.the-article {
    display: block;
}

@include mobile_and_tablet {
    .the-article {
        margin-bottom: 12px;
    }

    .the-article_content {
        margin-bottom: 10px;
        margin-top: 18px;
    }
}

@include desktop {
    .the-article {
        margin-bottom: 16px;
    }

    .the-article_content {
        margin-bottom: 20px;
        margin-top: 32px;
    }
}

@include high_res {
    .the-article {
        margin-bottom: 21px;
    }

    .the-article_content {
        margin-bottom: 20px;
        margin-top: 32px;
    }
}
