.the-title {
    align-items: center;
    align-content: center;
    background-color: $darkest;
    color: $lightest;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    text-align: center;

    @include mobile_and_tablet {
        height: 40px;
        padding: 4px 8px;
    }

    @include desktop {
        height: 50px;
        padding: 8px 12px;
    }

    @include high_res {
        height: 60px;
        padding: 12px 16px;
    }
}

.the-title > .the-title_header {
    display: inline-block;

    @include mobile_and_tablet {
        width: 100%;
    }

    @include desktop {
        width: 500px;
    }

    @include high_res {
        width: 800px;
    }
}
