.the-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;

    @include mobile_and_tablet {
        height: 40px;
        padding: 4px 8px;
    }

    @include desktop {
        height: 50px;
        padding: 8px 12px;
    }

    @include high_res {
        height: 60px;
        padding: 12px 16px;
    }
}

.the-title_container {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: var(--var-content-width);
}

.the-title_header {
    display: inline-block;
}

.the-title_theme {
    margin-left: auto;
    margin-right: 20px;
}

.the-title_links > .link:not(:last-child) {
    margin-right: 8px;
}

@include light-mode {
    .the-title {
        background-color: $lightest;
    }

    .the-title_header {
        color: $dark;
    }

    .the-title_links > .link > .icon {
        filter: invert(1);
    }
}

@include dark-mode {
    .the-title {
        background-color: $darkest;
    }

    .the-title_header {
        color: $light;
    }

    .the-title_links > .link > .icon {
        filter: invert(0);
    }
}
