.the-article-link.outstand {
    text-decoration: underline;
}

@include light-mode {
    .the-article-link {
        color: $dark;
    }

    .the-article-link.outstand {
        color: $darkest;
    }
}

@include dark-mode {
    .the-article-link {
        color: $light;
    }

    .the-article-link.outstand {
        color: $lightest;
    }
}
