.dialog {
    background-color: var(--dark);
    border-radius: 1rem;
    color: var(--bright);
    margin: auto;
    padding: 2rem 3rem;
}

.dialog.modal::backdrop {
    background-image: url('~/../bckg.png');
    background-repeat: repeat;
}