.navbar {
    @include font-dark;
    @include font-is-big;

    background-color: var(--var-darker);
    left: 0;
    padding: 4px 8px;
    position: static;
    right: 0;
    top: 0;
    user-select: none;
}

.navbar_title {
    margin: 0;
    padding-bottom: 8px;
}

.navbar_crumbs {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar_title,
.navbar_crumbs {
    @include mobile_and_tablet {
        width: 100%;
    }

    @include desktop {
        margin: auto;
        width: 500px;
    }

    @include high_res {
        margin: auto;
        width: 900px;
    }
}
.navbar_crumbs_item:not(:last-child) {
    margin-right: 4px;
}

.navbar_crumbs_item {
    @include font-dark;
    display: inline;
    text-decoration: none;
}

.navbar_crumbs_item > .link {
    @include font-dark;
}

.navbar_crumbs_item > .link::before {
    @include font-dark;
    content: '[';
    padding-right: 4px;
    visibility: hidden;
}

.navbar_crumbs_item > .link::after {
    @include font-dark;
    content: ']';
    padding-left: 4px;
    visibility: hidden;
}

.navbar_crumbs_item > .link:hover,
.navbar_crumbs_item > .link:not(:hover).is-active {
    &::before,
    &::after {
        visibility: visible;
    }
}
