.quote {
    display: block;
    margin-bottom: 32px;
    margin-top: 32px;
    quotes: '🙶' '🙸';

    & .content {
        display: block;
        width: 100%;
    }

    & .footer {
        padding-top: 16px;
        text-align: right;
    }

    &::before,
    &::after {
        @include font-is-biggest;

        display: block;
        background-color: unset;
    }

    &::before {
        text-align: left;
    }
    &::after {
        text-align: right;
    }
}
