.content .the-post .form-control .control-input.input,
.content .the-post .form-control .control-input.textarea-input {
    flex-basis: 18rem;
}
@media screen and (max-width: 440px) {
    .content .the-post .form-control .control-input.input,
    .content .the-post .form-control .control-input.textarea-input {
        flex: 1;
        min-width: 0;
        width: 0;
    }
}

.content .the-posts {
    max-height: 350px;
    overflow: hidden auto;
    scrollbar-width: thin;
    opacity: 0;
    transition: opacity 500ms 300ms linear;

    & the-post {
        display: block;
    }

    & the-post:not(:last-child) {
        margin-bottom: 1rem;
    }

    &:not(:empty) {
        opacity: 1;
    }
}
