@import url('/assets/colors.css');
@import url('/assets/elements-common.css');

*,
*::after,
*::before {
    font-family: monospace;
    font-size: 1rem;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    background-color: var(--dark);
    color: var(--bright);
}

body {
    align-content: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100dvh;
    width: 100vw;
}

.return-button-container {
    padding: 3rem 3rem 0;
    text-align: right;
}

.container {
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px var(--bright), 0 0 20px var(--bright);
    text-align: center;
    padding: 2rem 3rem;
    margin: auto;
    max-width: 600px;
    width: 70vw;

    & .title {
        font-size: 1.8rem;
    }

    & .content {
        padding: 2rem 0 2rem;
    }

    & .content .section:not(:last-child) {
        margin-bottom: 1rem;
    }

    & .buttons {
        display: flex;
        justify-content: space-around;

        counter-reset: option 0;
    }

    & .buttons.has-counter .button::before {
        counter-increment: option 1;
        content: counter(option) '.';
    }

    & .buttons:not(.inline) {
        align-content: center;
        flex-flow: column nowrap;

        & .button:not(:last-child) {
            margin-bottom: 0.6rem;
        }
    }

    & .buttons.inline {
        align-content: start;
        flex-flow: row nowrap;

        & .button:not(:last-child) {
            margin-right: 0.6rem;
        }
    }

    & .buttons .button {
        background-color: var(--brownish);
        border: none;
        border-radius: 10px;
        color: var(--bright);
        cursor: pointer;
        font-size: 1rem;
        padding: 0.4rem 0.6rem;
        text-align: left;

        &:hover:not(:disabled) {
            background-color: var(--bright);
            color: var(--dark);
        }

        &:disabled {
            border: 1px solid var(--bright);
            cursor: not-allowed;
        }
    }
}

.footer {
    background-color: var(--dark);
    border-radius: 1rem 1rem 0 0;
    border: 1px solid transparent;
    border-color: var(--dark) var(--dark) transparent var(--dark);
    bottom: 0;
    height: 2rem;
    padding: 0.5rem;
    position: fixed;
    text-align: center;
    transition-duration: 300ms;
    transition-property: height, border-color;
    transition-timing-function: linear;
    width: 100%;

    & .footer-summary {
        cursor: pointer;
        list-style: none;
    }

    & .footer-content {
        padding: 2rem 1rem;
    }
}

.footer:hover:not([open]) {
    border-color: var(--bright) var(--bright) transparent var(--bright);
    height: 4rem;

    & .footer-summary {
        height: 3rem;
    }
}

.footer[open] {
    border-color: var(--bright) var(--bright) transparent var(--bright);
    height: 75dvh;
}

@media screen and (max-width: 720px) {
    .return-button-container {
        padding: 1rem 1rem 0;
    }

    .container {
        box-shadow: none;
        margin-top: 2rem;
        padding: 0 1rem;
        width: 100vw;

        & .title {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 440px) {
    .container {
        min-width: 360px;
    }
}