/* modifiers */

.no-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* markup */

.code {
    background-color: var(--bright);
    border-radius: 0.1rem;
    color: var(--dark);
    font-style: italic;
    font-weight: bold;
    padding: 0.1rem 0.2rem;
}

.ordered-list,
.unordered-list {
    padding-left: 2rem;
    text-align: justify;
    text-wrap: pretty;

    & > li {
        padding-bottom: 0.2rem;
    }
}

/* custom controls */

.form {
    & .form-row {
        align-content: center;
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        & .form-control {
            align-content: center;
            align-items: center;
            display: flex;
            flex: 1;
            flex-flow: row nowrap;
            justify-content: start;

            /* input, wrapped with label */
            & > .control-label {
                align-content: center;
                align-items: center;
                display: inline-flex;
                flex: 1;
                flex-flow: row nowrap;
                justify-content: space-between;
                user-select: none;

                & > .control-input {
                    flex-basis: 4rem;
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-left: 1rem;
                }

                & > .control-input:not(:last-child) {
                    margin-right: 0.5rem;
                }
            }

            & > .control-label:has(.control-input:checked) {
                color: var(--vine);
            }

            /* plain input */
            & > .input.control-input {
                flex: 1;
            }
        }
    }

    & .form-row:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    & .form-row .form-control:not(:last-child) {
        margin-right: 0.5rem;
    }

    & .form-row .form-control > .control-input:not(:last-child),
    & .form-row .form-control > .control-label:not(:last-child) {
        margin-right: 0.5rem;
    }
}

.console {
    background-color: black;
    height: 4rem;
    margin-top: 1rem;
    min-height: 4rem;
    overflow: scroll;
    padding: 0.5rem 0.3rem;
    scrollbar-width: thin;
    scrollbar-color: var(--dark) var(--dark);

    & .message {
        color: rgb(139, 107, 24);
        font-size: 0.7rem;
        text-align: left;
    }
}

/* controls */

.link {
    color: var(--bright);
}

.link:active {
    color: var(--vine);
}

.link:hover,
.link:visited {
    color: var(--brownish);
}

/**/

.button {
    background-color: var(--brownish);
    border: none;
    border-radius: 10px;
    color: var(--bright);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    text-align: left;
    user-select: none;

    &:hover:not(:disabled) {
        background-color: var(--bright);
        color: var(--dark);
    }

    &:disabled {
        border: 1px solid var(--bright);
        cursor: not-allowed;
    }
}

/**/

.input {
    background-color: var(--brownish);
    border-radius: 0.2rem;
    border-style: none;
    color: var(--bright);
    min-width: 5rem;
    padding: 0.35rem 0.5rem;
    text-align: center;

    &:focus,
    &:focus-visible {
        background-color: var(--bright);
        color: var(--dark);
        outline-style: none;
    }

    &:disabled {
        background-color: var(--bright);
        border: none;
        cursor: not-allowed;
        opacity: 0.3;
    }

    &:checked:disabled {
        background-color: var(--bright);
        opacity: 1;
    }

    &:checked {
        background-color: var(--vine);
    }
}

/**/

.input.checkbox-input,
.input.radiobutton-input {
    align-content: center;
    align-items: center;
    appearance: none;
    display: inline-flex;
    justify-content: center;
    max-height: 1rem;
    min-height: 1rem;
    max-width: 1rem;
    min-width: 1rem;
}

.input.checkbox-input:checked::after,
.input.radiobutton-input:checked::after {
    color: var(--bright);
}

.input.checkbox-input:disabled:checked::after,
.input.radiobutton-input:disabled:checked::after {
    color: var(--dark);
}

/**/

.input.textarea-input {
    resize: none;
    white-space: wrap;
    scrollbar-width: thin;
    scrollbar-color: var(--bright) var(--brownish);
}

/**/

.input.range-input {
    appearance: none;
    -webkit-appearance: none;
}

.input.range-input::-moz-range-thumb {
    background-color: var(--vine);
    border-radius: 0;
    border-style: none;
    cursor: pointer;
}

.input.range-input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--vine);
    border-radius: 0;
    border-style: none;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
}

.input.range-input::-ms-thumb {
    background-color: var(--vine);
    border-radius: 0;
    border-style: none;
    cursor: pointer;
}

.input.range-input::-moz-range-track {
    background-color: var(--brownish);
    padding: 0.3rem;
}

.input.range-input::-webkit-slider-runnable-track {
    background-color: var(--brownish);
}

.input.range-input::-ms-track {
    background-color: var(--brownish);
}
