/* nodifiers */

.no-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* custom controls */

.console {
    background-color: black;
    height: 4rem;
    margin-top: 1rem;
    min-height: 4rem;
    overflow: scroll;
    padding: 0.5rem 0.3rem;
    scrollbar-width: thin;
    scrollbar-color: var(--dark) var(--dark);

    & .message {
        color: rgb(139, 107, 24);
        font-size: 0.7rem;
        text-align: left;
    }
}

/* controls */

.link {
    color: var(--bright);
}

.link:active {
    color: var(--vine);
}

.link:hover,
.link:visited {
    color: var(--brownish);
}

.button {
    background-color: var(--brownish);
    border: none;
    border-radius: 10px;
    color: var(--bright);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    text-align: left;
    user-select: none;

    &:hover:not(:disabled) {
        background-color: var(--bright);
        color: var(--dark);
    }

    &:disabled {
        border: 1px solid var(--bright);
        cursor: not-allowed;
    }
}

.input {
    background-color: var(--brownish);
    border-radius: 0.2rem;
    border-style: none;
    color: var(--bright);
    min-width: 4rem;
    padding: 0.35rem 0.5rem;
    text-align: center;

    &:focus,
    &:focus-visible {
        background-color: var(--bright);
        color: var(--dark);
        outline-style: none;
    }
}
