.dots {
    align-self: flex-end;
    user-select: none;

    & .dot {
        appearance: none;
        background-color: var(--vine);
        border-radius: 10px;
        border-style: none;
        cursor: pointer;
        height: 20px;
        transition-duration: 100ms;
        transition-property: transform, background-color;
        transition-timing-function: linear;
        width: 20px;
    }

    & .dot:hover {
        background-color: var(--bright);
        transform: scale(1.4);
    }
}

.the-card-container {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    min-height: 315px;
    min-width: 280px;
    position: relative;
    user-select: none;

    & .the-card {
        min-width: 280px;
        pointer-events: none;
        position: absolute;

        & > img {
            image-rendering: pixelated;
            min-width: 280px;
        }
    }

    & .the-card.back {
        background-image: url('./card_back.png');
        background-position: center;
        min-width: 280px;
        min-height: 280px;
        background-repeat: no-repeat;
        background-size: cover;
        image-rendering: pixelated;
        transform: translate(-5px, -7px);
    }
}
