.canvas-container {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 320px;
    width: 100%;

    #canvas {
        height: 320px;
        image-rendering: pixelated;
        width: 320px;
    }
}

.heightmap-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    .left {
        order: 0;
    }

    .right {
        order: 1;
    }

    .heightmap-input {
        order: 0;
        background-color: var(--dark);
        color: var(--bright);
        white-space: pre-line;
        resize: none;
        text-align: center;
        width: 160px;
    }
}

@media screen and (max-width: 500px) {
    .heightmap-controls {
        flex-flow: column;
        justify-content: center;

        .left {
            order: 1;
        }

        .right {
            order: 0;
            margin-bottom: 1rem;
        }
    }

    .form .row {
        justify-content: center;
    }
}
