.balancer-grid {
    align-items: center;
    background-color: var(--dark);
    display: grid;
    grid-gap: 10px;
    grid-template-areas: '. producer .' ' . balancer .' 'runners runners runners';
    grid-template-columns: auto 240px auto;
    grid-template-rows: 1fr 1fr auto;
    justify-content: center;
    min-height: 320px;
    min-width: 320px;

    & .item {
        background-color: var(--brownish);
        border-radius: 10px;
        min-height: 80px;
        min-width: 110px;
        position: relative;

        &::before {
            display: inline-block;
            width: 100%;
        }

        & .button {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            border-radius: 10px;
            border: 2px dotted var(--bright);
            color: var(--vine);
            font-size: 2rem;
            height: 32px;
            opacity: 1;
            padding: 0;
            position: absolute;
            text-align: center;
            top: 24px;
            width: 32px;
        }

        & .button.increase {
            background-image: url('/assets/icons/plus.svg');
            left: -40px;
        }

        & .button.decrease {
            background-image: url('/assets/icons/minus.svg');
            right: -40px;
        }

        & .info {
            color: #31fb31;
            font-size: 3rem;
            text-align: center;
        }
    }

    & .producer {
        grid-area: producer;

        &::before {
            content: 'producer';
        }

        &.item .info::after {
            content: '/ rps';
        }
    }

    & .balancer {
        grid-area: balancer;

        &::before {
            content: 'balancer';
        }

        &.item .info::after {
            content: '/ buffer';
        }
    }

    .runners {
        display: flex;
        flex-flow: row wrap;
        grid-area: runners;

        & .runner {
            background-color: var(--brownish);
            border-radius: 10px;
            flex: 1;
            margin: 0.3rem 1rem;
        }

        & .runner::before {
            content: attr(data-runner-id);
            font-size: 0.6rem;
        }

        & .runner::after {
            color: #31fb31;
            display: block;
            content: '/ buffer';
        }
    }
}
